{% layout settings.customer_layout %}

<h1>{{ 'customer.account.title' | t }}</h1>

<div ng-controller="accountController">
    <uib-tabset>
        <uib-tab heading="Orders">
            <vc-account-orders get-orders="getOrders" loading="isLoading"></vc-account-orders>
        </uib-tab>
        {% if shop.quotes_enabled %}
        <uib-tab heading="Quote requests">
            <div class="one-half">
                <vc-account-quotes get-quotes="getQuotes" loading="isLoading"></vc-account-quotes>
            </div>
        </uib-tab>
        {% endif %}

        <uib-tab heading="Profile">
            <div class="one-half">
                <vc-account-profile-update customer="customer" on-update="updateProfile" loading="isLoading"></vc-account-profile-update>
            </div>
        </uib-tab>
        <uib-tab heading="Addresses">
            <vc-addresses-crud addresses="customer.addresses" countries="availCountries" get-country-regions="getCountryRegions" on-update="updateAddresses"></vc-addresses-crud>
        </uib-tab>
        <uib-tab heading="Change password">
            <div class="one-half">
                <vc-account-password-change on-password-change="changePassword"></vc-account-password-change>
            </div>
        </uib-tab>
    </uib-tabset>

    <hr class="hr--small">
</div>
