.cols {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
}

    .cols .col {
        box-sizing: border-box;
        padding: 0 5px;
        width: 100%;
    }

    .cols .col-50 {
        width: 50%;
    }

    .cols .col-66 {
        width: 66.6666%;
    }

    .cols .col-33 {
        width: 33.3333%;
    }

.col.main {
    padding-right: 4%;
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit;
}

.vc-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: none;
}

.vc-form .form-group {
    margin: 0 0 10px;
    position: relative;
}

.vc-form .form-label {
    color: #999;
    font-size: 12px;
    opacity: 0;
    padding: 0 11px;
    position: absolute;
    top: 50%;
    transform: translateY(3px);
    transition: all .2s ease-out;
}

.vc-form .form-input {
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #d9d9d9;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 13px 11px;
    width: 100%;
    transition: all .2s ease-out;
}

    .vc-form .form-input:focus {
        box-shadow: 0 0 0 2px #1990c6;
    }

.vc-form .form-group.keyuped .form-label {
    opacity: 1;
    transform: none;
    top: 5px;
}

.vc-form .form-group.keyuped .form-input {
    padding: 21px 11px 5px;
}

.vc-form .form-group.error .form-input {
    box-shadow: 0 0 0 2px #ff6d6d;
}

.vc-form .form-error {
    background: none;
    border: none;
    color: #ff6d6d;
    display: block;
    font-size: 12px;
    margin: 9px 0 3px;
}

.vc-form .form-select::after {
    border-left: 1px solid #ccc;
    content: ' ';
    height: 20px;
    position: absolute;
    right: 11px;
    top: 50%;
    width: 21px;
    transform: translateY(-50%);
    pointer-events: none;
}

.vc-form .form-select::before {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.vc-btn {
    background: #1990c6;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 19px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

    .vc-btn.secondary {
        background: #dcdcdc;
        color: #585858;
    }

    .vc-btn.loading {
        pointer-events: none;
    }

        .vc-btn.loading .btn-text {
            opacity: 0;
        }

        .vc-btn.loading .btn-loading {
            border: 3px solid rgba(255,255,255,.7);
            border-top-color: transparent;
            border-radius: 50%;
            box-sizing: border-box;
            height: 30px;
            margin: -15px 0 0 -15px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 30px;
            -webkit-animation: loading .75s linear infinite;
            animation: loading .75s linear infinite;
        }

@-webkit-keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

.vc-btn:hover {
    background: #136f99;
    color: #fff;
}

.vc-btn:focus,
.vc-btn:active {
    color: #fff;
    box-shadow: 0 0 0 2px #136f99 inset;
}

.vc-form .form-input::-webkit-input-placeholder {
    color: #999;
}

.vc-form .form-input::-moz-placeholder {
    color: #999;
}

.vc-form .form-box {
    border-radius: 4px;
    box-shadow: 0 0 0 1px #d9d9d9;
    color: #737373;
    font-size: 14px;
    margin: 0 0 10px;
}

    .vc-form .form-box .box-row + .box-row {
        border-top: 1px solid #d9d9d9;
    }

.vc-form .radio-box,
.vc-form .check-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    padding: 18px;
}

.vc-form .form-box .radio,
.vc-form .form-box .check {
    display: none;
}

.vc-form .form-box .switch {
    border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 15px 0 0;
    height: 18px;
    position: relative;
    width: 18px;
}

.vc-form .form-box .radio:checked ~ .switch::after {
    border: 7px solid #1990c6;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: -1px;
    content: ' ';
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
}

.vc-form .check-box .switch {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-radius: 3px;
}

.vc-form .form-box .check:not(:checked) ~ .switch {
    background-color: white;
}

.vc-form .form-box .check:checked ~ .switch {
    background: #1990c6;
    border: 1px solid #1990c6;
}

    .vc-form .form-box .check:checked ~ .switch::after {
        color: #fff;
        content: 'ï€Œ';
        font-family: 'FontAwesome';
        font-size: 10px;
        margin: auto;
    }

.vc-form .form-box .name {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.vc-section-header {
    margin: 0 0 25px;
}

    .vc-section-header .vc-t {
        font-size: 18px;
        margin: 0 0 10px;
    }

    .vc-section-header .vc-descr {
        color: #737373;
        font-size: 14px;
    }

.vc-product-table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 100%;
}

    .vc-product-table td {
        border: none;
        color: #737373;
        font-size: 14px;
        padding: 0;
    }

    .vc-product-table .product-img {
        height: 64px;
        width: 64px;
    }

    .vc-product-table .img-inner {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
    }

    .vc-product-table .product-img img {
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        padding: 5px;
        width: 100%;
    }

    .vc-product-table .product-qty {
        background-color: rgba(153, 153, 153, 0.9);
        border-radius: 50%;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        min-width: 10px;
        padding: 4px 7px;
        line-height: 1;
        position: absolute;
        right: -10px;
        text-align: center;
        top: -10px;
        z-index: 2;
    }

    .vc-product-table .product-descr {
        padding: 0 0 0 15px;
    }

    .vc-product-table .product-price {
        font-size: 14px;
        padding: 0 0 0 15px;
        text-align: right;
    }

        .vc-product-table .product-price .old {
            color: #969696;
            font-size: 12px;
            text-decoration: line-through;
        }

    .vc-product-table .product-img,
    .vc-product-table .product-descr,
    .vc-product-table .product-price {
        padding-bottom: 15px;
    }

.vc-product-totals .list {
    list-style: none;
}

.vc-product-totals .list-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #717171;
    font-size: 14px;
    padding: 0 0 10px;
}

.vc-product-totals .list-name {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.vc-product-totals .list-price {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.vc-product-totals .list-currency {
    color: #969696;
    font-size: 12px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
}

.vc-product-totals .list-item.total {
    border-top: 1px solid #e1e1e1;
    color: #4b4b4b;
    margin: 15px 0 0;
    padding: 15px 0;
}

    .vc-product-totals .list-item.total .list-name {
        font-size: 16px;
    }

    .vc-product-totals .list-item.total .list-price {
        font-size: 24px;
    }

.vc-product-totals .list-item.summary {
    border: 0;
    margin: 0;
    padding: 0;
}

.vc-product-address .list {
    list-style: none;
}

.vc-product-address .list-item {
    background: #eee;
    border: 1px solid #ddd;
    color: #353535;
    border-radius: 3px;
    font-size: 13px;
    margin: 5px 0;
    padding: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.vc-product-address .list-action {
    cursor: pointer;
    margin: 0 10px 0 0;
}

.form-fieldset {
    background-color: #fafafa;
    padding: 15px 15px 5px;
}

@media (max-width: 990px) {
    .cols .col-50,
    .cols .col-66,
    .cols .col-33 {
        margin: 0 0 20px;
        width: 100%;
    }
}

/*ICONS*/
.field__icon {
    position: absolute;
    top: 10px;
    right: 1.125em;
}

.icon--lock {
    width: 12px;
    height: 14px;
    background-image: url('lock-dark.svg');
    background-image: url('lock-dark.svg'), none;
}

    .icon--lock.field__icon {
        top: 15px;
    }

.icon--question {
    width: 16px;
    height: 16px;
    top: 15px;
}

.icon--question {
    background-image: url('question-dark.svg');
    background-image: url('question-dark.svg'), none;
}
/*.main 
.sidebar .icon--question {
    background-image: url('question-dark.svg');
    background-image: url('question-dark.svg'), none
}
.content-box .icon--question {
    background-image: url('question-dark.svg');
    background-image: url('question-dark.svg'), none
}
.leaflet-popup-content .icon--question {
    background-image: url('question-dark.svg');
    background-image: url('question-dark.svg'), none
}*/

.field__icon:focus {
    outline: none;
}

.payment-icon {
    display: inline-block;
    right: 40px;
    width: 38px;
    height: 24px;
    -webkit-transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
    -webkit-backface-visibility: hidden;
}

.payment-name {
    visibility: hidden;
}

.blank-slate .payment-icon {
    vertical-align: middle;
}

.payment-icon--amazon {
    background-image: url('amazon.svg');
    background-image: url('amazon.svg'), none;
}

.payment-icon--american-express {
    background-image: url('american-express.svg');
    background-image: url('american-express.svg'), none;
}

.payment-icon--bitcoin {
    background-image: url('bitcoin.svg');
    background-image: url('bitcoin.svg'), none;
}

.payment-icon--bogus {
    background-image: url('bogus.svg');
    background-image: url('bogus.svg'), none;
}

.payment-icon--boleto {
    background-image: url('boleto.svg');
    background-image: url('boleto.svg'), none;
}

.payment-icon--cash {
    background-image: url('cash.svg');
    background-image: url('cash.svg'), none;
}

.payment-icon--dankort {
    background-image: url('dankort.svg');
    background-image: url('dankort.svg'), none;
}

.payment-icon--diners-club {
    background-image: url('diners-club.svg');
    background-image: url('diners-club.svg'), none;
}

.payment-icon--discover {
    background-image: url('discover.svg');
    background-image: url('discover.svg'), none;
}

.payment-icon--dogecoin {
    background-image: url('dogecoin.svg');
    background-image: url('dogecoin.svg'), none;
}

.payment-icon--litecoin {
    background-image: url('litecoin.svg');
    background-image: url('litecoin.svg'), none;
}

.payment-icon--forbrugsforeningen {
    background-image: url('forbrugsforeningen.svg');
    background-image: url('forbrugsforeningen.svg'), none;
}

.payment-icon--generic {
    background-image: url('generic.svg');
    background-image: url('generic.svg'), none;
}

.payment-icon--gift-card {
    background-image: url('gift-card-payment.svg');
    background-image: url('gift-card-payment.svg'), none;
}

.payment-icon--google-wallet {
    background-image: url('google-wallet-payment.svg');
    background-image: url('google-wallet-payment.svg'), none;
}

.payment-icon--jcb {
    background-image: url('jcb.svg');
    background-image: url('jcb.svg'), none;
}

.payment-icon--laser {
    background-image: url('laser.svg');
    background-image: url('laser.svg'), none;
}

.payment-icon--maestro {
    background-image: url('maestro.svg');
    background-image: url('maestro.svg'), none;
}

.payment-icon--master {
    background-image: url('master.svg');
    background-image: url('master.svg'), none;
}

.payment-icon--paypal {
    background-image: url('paypal.svg');
    background-image: url('paypal.svg'), none;
}

.payment-icon--sofort {
    background-image: url('sofort.svg');
    background-image: url('sofort.svg'), none;
}

.payment-icon--solo {
    background-image: url('solo.svg');
    background-image: url('solo.svg'), none;
}

.payment-icon--switch {
    background-image: url('switch.svg');
    background-image: url('switch.svg'), none;
}

.payment-icon--unionpay {
    background-image: url('unionpay.svg');
    background-image: url('unionpay.svg'), none;
}

.payment-icon--visa {
    background-image: url('visa.svg');
    background-image: url('visa.svg'), none;
}

.tooltip {
    box-sizing: border-box;
    position: absolute;
    bottom: 130%;
    left: 50%;
    width: 180px;
    margin: 0 0 5px -90px;
    padding: 0.75em 1em;
    border-radius: 4px;
    white-space: normal;
    font-size: 0.85714em;
    font-style: normal;
    text-align: center;
    color: #fff;
    display: none;
    z-index: 200;
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    -webkit-transform: rotateX(20deg) scale(0.8);
    transform: rotateX(20deg) scale(0.8);
    -webkit-transform-origin: center 120%;
    -ms-transform-origin: center 120%;
    transform-origin: center 120%;
    -webkit-backface-visibility: hidden;
    background-color: rgba(51, 51, 51, 0.9);
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    filter: alpha(opacity=0);
}

@media (min-width: 750px) {
    .tooltip {
        display: block;
    }
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    border: 6px solid transparent;
    border-top-color: rgba(51, 51, 51, 0.9);
}

@media (min-width: 750px) {
    .has-tooltip:hover .tooltip,
    .has-tooltip:focus .tooltip {
        -webkit-transform: rotateX(0deg) scale(1);
        transform: rotateX(0deg) scale(1);
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
        filter: alpha(opacity=100);
    }
}
