<form accept-charset="UTF8" class="step" name="$ctrl.form" novalidate="novalidate">
    <div class="fieldset">
        <div class="field field--required" ng-class="{ 'field--show-floating-label': !$ctrl.form.Email.$error.required, 'field--error': ($ctrl.form.Email.$dirty || $ctrl.form.$submitted) && $ctrl.form.Email.$invalid }">
            <div class="field__input-wrapper">
                <label class="field__label" for="Email">{{ 'checkout.customer_information.email' | t }}</label>
                <input class="field__input" id="Email" name="Email" placeholder="{{ 'checkout.customer_information.email' | t }}" required="required" size="30" type="email" ng-model="$ctrl.email" />
            </div>
            <p class="field__message field__message--error" ng-if="($ctrl.form.Email.$dirty || $ctrl.form.$submitted) && $ctrl.form.Email.$error.required">
                {{ 'checkout.email_required_message' | t }}
            </p>
            <p class="field__message field__message--error" ng-if="($ctrl.form.Email.$dirty || $ctrl.form.$submitted) && $ctrl.form.Email.$error.email">
                {{ 'checkout.invalid_email_message' | t }}
            </p>
        </div>
    </div>
</form>
