<form accept-charset="UTF8" class="step" name="$ctrl.form" novalidate="novalidate">
    <div ng-if="!$ctrl.availShippingMethods.length && !$ctrl.loading">
        <div class="alert alert-error">
			{{ 'checkout.shipping_method.no_avail_methods' | t }}
		</div>
    </div> 
    <div class="content-box" ng-repeat="(key, value) in $ctrl.availShippingMethods | groupBy: 'shipmentMethodCode' ">
        <div class="content-box__row" ng-repeat="method in value">
            <div class="radio-wrapper">
                <div class="radio__input">
                    <input class="input-radio" id="{% raw %}{{ method.id }}{% endraw %}" name="ShipmentMethodCode" type="radio" required="required" ng-value="method" ng-model="$ctrl.selectedMethod" ng-change="$ctrl.selectMethod(method)" />
                </div>
                <label class="radio__label" for="{% raw %}{{ method.id }}{% endraw %}" ng-bind="method.name + '&nbsp' + method.optionName"></label>
                {% if settings.show_prices_with_taxes %}
                <span class="order-summary__emphasis" ng-bind="method.totalWithTax.formattedAmount"></span>
                <span ng-if="method.discountAmountWithTax.amount > 0">
                    <span class="order-summary__small-text strikethrough" ng-bind="method.priceWithTax.formattedAmount"></span>
                </span>
                {% else %}
                <span class="order-summary__emphasis" ng-bind="method.total.formattedAmount"></span>
                <span ng-if="method.discountAmount.amount > 0">
                    <span class="order-summary__small-text strikethrough" ng-bind="method.price.formattedAmount"></span>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="alert alert-error" style="margin-top: 20px;" ng-if="$ctrl.form.$submitted && $ctrl.form.ShipmentMethodCode.$error.required">
        Please select shipping method
    </div>
</form>